.wrapper {
    display: flex;
    position: relative;
}

.container {
    overflow: hidden;
}

.hero-carousel {
    display: flex;
    justify-content: center;
}

.hero-image {
    max-height: 100vh;
}
